<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ErasmusBot</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body
    class="bg-gray-100 flex flex-col items-center justify-center min-h-screen"
  >
    <h1 class="text-4xl font-bold text-blue-600 mb-4">ErasmusBot</h1>
    <div
      id="chatbox"
      class="w-full max-w-2xl h-96 border border-gray-300 bg-white rounded-md overflow-y-scroll p-4 mb-4 shadow-lg"
    ></div>
    <div class="flex w-full max-w-2xl items-center justify-between mb-4">
      <input
        type="text"
        id="user-input"
        placeholder="Posez votre question..."
        class="flex-grow border border-gray-300 rounded-l-md p-4 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <button
        id="send-button"
        onclick="sendMessage()"
        class="bg-blue-500 text-white rounded-r-md p-4 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        Envoyer
      </button>
    </div>
    <div id="timer-container" class="hidden w-12 h-12 relative mb-4 rounded">
      <svg class="absolute inset-0 w-full h-full rounded">
        <circle
          cx="50%"
          cy="50%"
          r="50%"
          stroke="gray"
          stroke-width="4"
          fill="none"
        ></circle>
        <circle
          id="timer-circle"
          cx="50%"
          cy="50%"
          r="50%"
          stroke="blue"
          stroke-width="4"
          fill="none"
          stroke-dasharray="314"
          stroke-dashoffset="0"
        ></circle>
      </svg>
      <div
        id="timer-text"
        class="absolute inset-0 flex items-center justify-center text-blue-500 font-bold"
      ></div>
      <script src="index.js"></script>
    </div>
  </body>
</html>
